__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.db
*.sqlite
*.log
*.vscode/
.idea/
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.bak
*.swp
*.swo
*.coverage
*.tox/
*.nox/
*.coverage
*.hypothesis/
*.pytest_cache/
*.mypy_cache/
